# ignore everything
/*

# http://php-pds.com/

## dirs
!/bin/
!/config/
!/docs/
!/public/
!/resources/
!/src/
!/tests/

## files
!/.editorconfig
!/.gitattributes
!/.gitignore
!/composer*
!/LICENSE*
!/phpunit.xml.dist
!/README*
